*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    line-height:1.6;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    position:sticky;
    top:0;
}

nav h2{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav a{
    color:rgb(12, 206, 245);
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color:#f72389;
}

/* Hero Section */
.hero{
    text-align:center;
    padding:100px 20px;
}

.hero img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #38bdf8;
}

.hero h1{
    margin-top:20px;
    font-size:55px;
}

.hero p{
    font-size:22px;
    color:#cbd5e1;
}

/* Sections */
section{
    padding:60px 10%;
}

section h2{
    margin-bottom:25px;
    font-size:35px;
    color:#38bdf8;
}

/* Skills */
.card{
    display:inline-block;
    margin:10px;
    padding:15px 25px;
    border-radius:15px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* Projects */
.project{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:15px;
    padding:25px;
    margin-top:20px;
    transition:0.3s;
}

.project:hover{
    transform:translateY(-5px);
}

.project h3{
    margin-bottom:10px;
}

/* Contact */
#contact p{
    margin:10px 0;
}

/* Dark Mode Button */
#darkBtn{
    position:fixed;
    right:20px;
    bottom:20px;
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

/* Light Mode */
.dark{
    background:#f5f5f5;
    color:#222;
}

.dark nav{
    background:white;
}

.dark .card,
.dark .project{
    background:white;
}

/* Mobile */
@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:18px;
}

section{
    padding:40px 20px;
}

}
